* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  background-color: #e6e6e6;
  scroll-behavior: smooth;
  letter-spacing: -0.02em;
  word-wrap: break-word;
}

p {
  font-family: 'Fira Sans';
}

h1 {
  font-family: 'Frank Ruhl Libre';
}

h2 {
  font-family: 'Frank Ruhl Libre';
  font-size: 1.2rem;
  opacity: 0.9;
}

button {
  font-family: 'Fira Sans';
  color: #353535;
}
/* || Header - all parts of the header*/

.header-left-container {
  padding: 1em 1em 1em 1em;
}

.page-header {
  display: block;
}
.header-div-column:first-child {
  background-color: #c7ddea;
}

.header-title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3em;
  font-weight: 700;
}
.header-text {
  line-height: 1.6em;

  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.white-text {
  color: #fff;
}
.header-btn {
  padding: 1em 3em;
  border: none;
  box-shadow: 0 2px 1px rgb(176, 176, 176);
  border-radius: 50px;
  text-transform: uppercase;
  margin: 2em 0;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
}

.header-img,
.card-img {
  width: 100%;
  vertical-align: middle; /*made the border go away*/
}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45vh;
}
.header-div:nth-child(1) {
  background-color: #f17949;
}

.header-div:nth-child(2) {
  background-color: #fab131;
}
.div-text {
  font-family: 'Fira Sans', sans-serif;

  opacity: 0.6;
  font-weight: 700;
}

.header-div a {
  font-family: 'Frank Ruhl Libre', serif;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
}

/* navigation */

.page-nav {
  background-color: rgb(232, 232, 232);
}
/* main section of the page */

.page-section {
  padding: 2em;
}

.section-title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3em;
  color: #fff;
  line-height: 1.2em;
  padding-bottom: 1em;
  font-weight: 700;
}

.section-btn {
  display: none;
}

.div-text {
  line-height: 1.6em;
}

/* Product Cards */

.page-section:first-child {
  background-color: #a9a19e;
}
.product-card {
  background-color: #fff;
  width: 18em;
  margin: 4em auto;
  border-radius: 8px;
  overflow: visible;
}
.color-card-blue {
  background-color: #c7ddea;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative; /*here*/
  top: -2em;
}
.color-card-yellow {
  background-color: #fab131;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.color-card-orange {
  background-color: #f17949;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
  top: -2em;
}
.card-img {
  max-width: 55%;
  height: 12em;
  object-fit: cover;
  object-position: 0 1.5em;
  margin: 0 2.8em;
}
.color-card-orange .card-img {
  max-width: 60%;
  object-position: 0 3em;
  margin: 0 2.5em;
}

.card-body {
  padding: 2em 1.5em 2.5em 1.5em;
  margin-top: -3.5em;
}
.card-title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.2rem;
  font-weight: 900;
  color: #000;
  padding: 0.5em 0;
  text-align: center;
}
.card-text {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5em;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

.page-section {
  background-color: #fab131;
}
.page-section:last-child {
  text-align: center;
}

/* Bottom grid list */

.list-item a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
}

.active a {
  color: black;
  opacity: 1;
}

.ol-list {
  display: flex;
  flex-wrap: wrap;
  counter-reset: list-counter;
  list-style: none;
}

.list-item-ordered {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  font-size: 1.5rem;
  width: 100%;
  min-height: 50vh;
}

.list-item-ordered:not(:first-child) {
  counter-increment: list-counter;
}

.list-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 1em auto;
}
.list-content p,
.list-content h2 {
  flex: 1 0 auto;
  text-align: center;

  letter-spacing: -0.02em;
}

.list-title {
  background: #c7ddea;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.list-title h2 {
  font-size: 3rem;
}

.list-content p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.list-item-ordered-1,
.list-item-ordered-3 {
  background: #ebebeb;
}
.list-item-ordered-4 {
  background: #f17949;
}

ol li:not(:first-child):before {
  content: '0' counter(list-counter);
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Frank Ruhl Libre';
  font-weight: 600;
  font-size: 2em;

  position: absolute;
  padding-top: 0;

  left: 2%;
  top: 2%;
  height: 1.35em;
  width: 1.35em;
}

/* bottom nav*/

.bottom-nav {
  display: none;
}

/* footer gray box */

.gray-box {
  width: 100%;
  height: 30vh;
  background-color: #757575;
}
.thin-gray-box {
  height: 4.5em;
  background-color: #e6e6e6;
}

/* || Media Query for bigger screens*/

@media screen and (min-width: 768px) {
  body {
    width: 80%;
    margin: 0 auto;
  }

  .header-left-container {
    display: flex;
    /* padding: 1em; */
    margin: 0em 10em 5em 5em;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
    text-align: center;
  }

  .header-div-column:first-child {
    background-color: #c7ddea;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .page-header {
    display: flex;
    height: 85vh;
  }

  .header-div {
    display: flex;
    height: 50%;
  }

  /*Header*/
  .header-img {
    width: 55%;
    max-height: 65%;
    position: absolute;
    bottom: 0;
    right: 5%;
  }
  .header-div-column {
    flex: 2 1 50%;
    height: 100%;
    position: relative;
  }

  /*navbar*/
  .page-nav {
    width: 100%;
    height: 4em;
  }
  .page-nav .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 8em;
  }
  .nav-list .list-item {
    width: 100%;
    padding: 2em 1.2em;
    font-size: 0.8rem;
    text-align: center;
  }

  .list-item a:hover {
    transition: all 0.3s ease 0s;
    color: #000;
    opacity: 1;
  }

  /*main section */
  .page-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  .section-container {
    display: flex;
    gap: 6em;
    margin: 4em;
  }
  .section-div {
    flex: 1 1 50%;
  }
  .section-btn {
    display: block;
    padding: 1em 3em;
    border: none;
    box-shadow: 0 2px 1px rgb(176, 176, 176);
    border-radius: 50px;
    text-transform: uppercase;
    margin: 2em 0;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
  }

  button:hover {
    transition: all 0.5s ease 0s;
    box-shadow: 10px 12px 10px rgba(51, 50, 50, 0.1);
    background-color: #424243;
    color: white;
    cursor: pointer;
  }

  button:active {
    transform: translateY(4px);
  }
  /* Responsive option for images but will create problems with them such as weird cuts and margin problems.
  .product-card-wrapper {
    max-width: 100%;
    margin: 0 auto; 
    display: flex;
    gap: 2em; 
  }*/
  .product-card {
    width: 15em;
    position: relative;
    margin-top: -15em;
    bottom: -15em;
  }
  .page-section:last-child {
    padding: 10em;
    padding-top: 15em;
  }

  .section-title:last-of-type {
    margin: auto;
  }

  .list-item-ordered {
    display: flex;
    flex: 1 0 33%;
    flex-wrap: wrap;
    min-height: 40vh;
  }

  /*bottom-nav*/
  .bottom-nav {
    display: flex;
    height: 8vh;
    background-color: #a9a19e;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .bottom-nav i {
    position: relative;
    top: 0.3em;
  }

  .bottom-nav p {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
  }

  .thin-gray-box {
    display: none;
  }
}
/* Images in the middle section */
@media screen and (max-width: 1050px) and (min-width: 769px) {
  .page-section {
    display: flex;
  }
  .product-card {
    position: static;
    margin: 2em auto;
  }
}
/* For nav on mobiles */
@media screen and (max-width: 767px) {
  .nav-list {
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
    background-color: rgb(232, 232, 232);
    z-index: 99;
    box-shadow: 2px 0px 2px #bebdbd;
    animation: slide-in 1200ms ease-in;
    border: 1px solid rgb(202, 201, 201);
  }

  .page-nav .nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  .nav-list .list-item {
    padding: 2em 1.5em;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .header-title {
    padding: 1em 0.1em 0.5em 0.2em;
  }
}

/*Keyframes*/

@keyframes slide-in {
  from {
    transform: translatey(100%);
  }
  to {
    transform: translatey(0%);
  }
}
